body { 
font-size: medium;
 text-align: center; 
font-family: fantasy;
background-color:maroon;
text-decoration-color: mintcream;
} 

#Usual{
font-size: large;
text-decoration-color: mintcream;
}

#special{
font-size: large;
text-decoration-color: mintcream;
}
